{% extends 'base.html' %}

{%block styles %}
<link rel="stylesheet" href="../static/styles/search.css">
{% endblock %}

{% block title %}
Pokémon Search
{% endblock%}

{% block content %}
{% include './includes/nav.html' %}
<form method='POST' class="w-25 mx-auto  shadow p-3 my-5 bg-body-tertiary rounded-0 border border-warning text-center fs-4 ">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.search.label() }}
    <label for="search" class="form" class="form-label"></label>
    {{ form.search(class="form-control", id="search") }}
  </div>
    {{ form.search_btn(class="search-btn") }}
</form>

{% if pdata %}
<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Attack Stat</th>
      <th scope="col">HP Stat</th>
      <th scope="col">Defense Stat</th>
      <th scope="col">Sprite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ pdata['name'] }}</td>
      <td>{{ pdata['ability'] }}</td>
      <td>{{ pdata['attack_stat'] }}</td>
      <td>{{ pdata['hp_stat'] }}</td>
      <td>{{ pdata['defense_stat'] }}</td>
      <td><img src="{{ pdata['sprite'] }}" alt="shiny_sprite"></td>
    </tr>
  </tbody>
</table> -->




<div class="flip-card">
  <div class="container">
    <h1><b>{{ pdata['name'] }}</b></h1>

    <img src="{{ pdata['sprite'] }}" alt="shiny_sprite">

    <h3><b>Ability</b></h3>
    <h4>{{ pdata['ability'] }}</h4>

    <h3><b>Attack Stat</b></h3>
    <h4>{{ pdata['attack_stat'] }}</h4>

    <h3><b>HP Stat</b></h3>
    <h4>{{ pdata['hp_stat'] }}</h4>

    <h3><b>Defense Stat</b></h3>
    <h4>{{ pdata['defense_stat'] }}</h4>
  </div>
</div>

{% endif %}
{% endblock %}