{% extends 'base.html' %}

{%block styles %}
<link rel="stylesheet" href="../static/styles/team.css">
{% endblock %}

{% block title %}
Pokémon Team
{% endblock%}

{% block content %}
{% include './includes/nav.html' %}

{% if poke %}
  {% for poke in my_poke %}
    <div class="card" style="width: 18rem;">
    <img class="{{ team.img_url }}" src="..." alt="pokemon image">
      <div class="card-body">
      <h5 class="card-title">{{ team.name }}</h5>
      <h5 class="card-title">{{ team.ability }}</h5>
      <h5 class="card-title">{{ team.attack.stat }}</h5>
      <h5 class="card-title">{{ team.hp_stat }}</h5>
      <h5 class="card-title">{{ team.defense_stat }}</h5>
      

      {% if current_user.id == team.user_id %}

        <a href="#" class="btn btn-primary">Catch</a>
        <a href="#" class="btn btn-primary">Release</a>
      {% endif %}
      </div>
    </div>
  {% endfor %}
{% endif %} 


<form method='POST' class="w-25 mx-auto  shadow p-3 my-5 bg-body-tertiary rounded border border-warning text-center fs-4">
  {{ form.hidden_tag() }}
  <div class="mb-3">
    {{ form.name.label() }}
        <label for="name" class="form" class="form-label"></label>
  </div>
    {{ form.submit_btn(class="submit-btn") }}
</form>
{% endblock %}