body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQiZe9CaC2zpmcXv5yw1xXK84qpWN-pIwV4-TCQSFn71otKOddm2V69cTrokYIR23MS8&usqp=CAU');
    background-size: cover;
    height: 100vh;
}