* {
    font-family: 'Abel', sans-serif;
    font-family: 'Gabarito', sans-serif;
}

body {
    background: #b92b27;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 30px;
}

h1 {
    color: whitesmoke;
}

.email-input:focus,
.password-input:focus{
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.sub-btn {
    background-color: #b92b27;
    color: whitesmoke;
    transition: .8s;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.sub-btn:hover{
    transform: scale(1.2);
    color: #efc245; 
    background-color: #3434bc;
}

a {
    margin-left: 5px;
}