* {
    font-family: 'Abel', sans-serif;
    font-family: 'Gabarito', sans-serif;
  }

body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/957/704/964/pokemon-fields-ruby-1920x1200-nature-fields-hd-art-wallpaper-preview.jpg');
    background-size: contain;
    height: 100vh;
}

h1 {
  text-align: center;
  padding-top: 5px;
}

h2 {
  text-align: center;
  padding-top: 5px;
}
