{% extends 'base.html' %}

{%block styles %} 
  <link rel="stylesheet" href="../static/styles/search.css"> 
{% endblock %}

{% block title %}
  Pokémon Search 
{% endblock%}

{% block content %}
<form method='POST'>
  <div class="mb-3">
    <label for="search" class="form-label">Search Pokémon by Name or National Pokédex Number</label>
    <input type="text" class="form-control" id="search" aria-describedby="search" name="data">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
{% if data %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Sprite</th>
      <th scope="col">Attack Stat</th>
      <th scope="col">HP Stat</th>
      <th scope="col">Defense Stat</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <td>{{ data['name'] }}</td>
      <td>{{ data['ability'] }}</td>
      <td>{{ data['sprite'] }}</td>
      <td>{{ data['attack_stat'] }}</td> 
      <td>{{ data['hp_stat'] }}</td>
      <td>{{ data['defense_stat'] }}</td>
    </tr>

  </tbody>
</table>
{% endif%}
{% endblock %}