{% extends 'base.html' %}

{%block styles %}
<link rel="stylesheet" href="../static/styles/team.css">
{% endblock %}

{% block title %}
Pokémon Team
{% endblock%}

{% block content %}
{% include './includes/nav.html' %}
<h1>Your Pokémon Team</h1>

{% if all_players %}
  {% for player in all_players %}
   {{ player}}
  <div class="flip-card">
    <div class="container">
      <h1><b>{{ poke.name }}</b></h1>
  
      <img src="{{ poke.img_url }}" alt="shiny_sprite">
  
      <h3><b>Ability</b></h3>
      <h4>{{ poke.ability }}</h4>
  
      <h3><b>Attack Stat</b></h3>
      <h4>{{ poke.attack_stat }}</h4>
  
      <h3><b>HP Stat</b></h3>
      <h4>{{ poke.hp_stat }}</h4>
  
      <h3><b>Defense Stat</b></h3>
      <h4>{{ poke.defense_stat }}</h4>

      {% if current_user.id == user_poke.id %}
        <a href="{{ url_for('poke.catch', poke_id=poke.id)}}" class="btn btn-primary">Catch</a>
        <a href="{{ url_for('poke.release', poke_id=poke.id)}}" class="btn btn-primary">Release</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
{% endif %}  
{% endblock %}