{% extends 'base.html' %}

{%block styles %}
<link rel="stylesheet" href="../static/styles/search.css">
{% endblock %}

{% block title %}
Pokémon Search
{% endblock%}

{% block content %}
{% include './includes/nav.html' %}
<form method='POST'>
  <div class="mb-3">
    {{ form.search.label }}
    {{ form.search(class="form-control", id="search") }}
  </div>
    {{ form.search_btn(class="btn btn-primary") }}
</form>

{% if data %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ability</th>
      <th scope="col">Attack Stat</th>
      <th scope="col">HP Stat</th>
      <th scope="col">Defense Stat</th>
      <th scope="col">Sprite</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ data['name'] }}</td>
      <td>{{ data['ability'] }}</td>
      <td>{{ data['attack_stat'] }}</td>
      <td>{{ data['hp_stat'] }}</td>
      <td>{{ data['defense_stat'] }}</td>
      <td><img src="{{ data['sprite'] }}" alt="shiny_sprite"></td>
    </tr>
  </tbody>
</table>
{% endif %}
{% endblock %}